.info{
    padding: 88px 0px;
}
.info-text{
    /* width: 50%; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-text-main{
    text-align: center;
    width: 50%;
}
.info-text span{
    color: rgb(85, 85, 162);
    font-size: 18px;
}
.info-text h2{
    margin-top: 15px;
    font-size: 40px;
}
.info-text p{
    margin-top: 20px;
    font-size: 20px;
}
.info-boxs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}
.info-box-1{
    width: 17rem;
    /* border: 1px solid red; */
}
.info-boxs span{
    font-size: 40px;
    color: rgb(128, 128, 255);
}
.info-boxs h4{
    font-size: 20px;
    margin-top: 18px;
}
.info-boxs p{
    font-size: 17px;
    margin-top: 10px;
    color: gray;
}

@media(max-width:1200px){
    .info{
        padding: 40px 20px;
    }
    .info-text{
        /* width: 50%; */
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
    }
    .info-text-main{
        text-align: center;
        width: 100%;
    }
    .info-text span{
        color: rgb(85, 85, 162);
        font-size: 18px;
    }
    .info-text h2{
        margin-top: 15px;
        font-size: 30px;
    }
    .info-text p{
        margin-top: 20px;
        font-size: 20px;
    }
    .info-boxs{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
    }
    .info-box-1{
        width: 17rem;
        text-align: center;
        /* border: 1px solid red; */
    }
    .info-boxs span{
        font-size: 40px;
        color: rgb(128, 128, 255);
    }
    .info-boxs h4{
        font-size: 20px;
        margin-top: 18px;
    }
    .info-boxs p{
        font-size: 17px;
        margin-top: 10px;
        color: gray;
    }
}