.companys{
    padding: 50px 0px;
}
.company-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.company-text p{
   color: rgb(101, 101, 255);
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* width: 200px; */
    margin-top: 50px;
}
@media(max-width:1200px){
    .companys{
        padding: 20px 0px;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* width: 200px; */
        margin-top: 50px;
    }
}